@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$theme-colors: (
  sec: #F5E534,
  secondaryGrad: #323880 ,
  prim: #22256A,
  primaryGrad: #A53B6B,
  );

$prim: #22256A;
$sec: #F5E534;
//import bootstrap
@import "bootstrap";
  
  

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.chevron-right {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.shape-outer {
  display: flex;
  flex-shrink: 0;
  height: calc(150px + 4vw);
  width: calc(150px + 4vw);
  margin: 25px;
  background-image: linear-gradient(to bottom right, $prim, $sec, $prim);
}

.shape-inner {	
  height: calc(130px + 4vw);
  width: calc(130px + 4vw);
  background: url(https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?w=300&h=300&fit=crop&crop=faces) no-repeat center;
  background-size: cover;
  margin: auto;
}

.rabbet {
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
      clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}


.ninjaVanish{
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  transition: 1200ms;
}

.ninjaVanish p{
  color: $sec;
}


// .ninja {

//   position: absolute;
//   transform: translate(100%, 0);
//   z-index: 99;
//   background-color: black;
//   box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
//   -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
// }

.shape-inner:hover{
  transition: 4000ms;
 background: url('http://localhost:9000/screen-shots/rareHoss.jpg');
}

.boba:hover{

  .ninjaVanish{
    background-color: rgba(34, 37, 106, 0.80);
    justify-content: center;
    align-content: center;
    transition: 600ms;
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

.card-title{
  color: $sec;
  font-family: Blockletter;
  font-size: 2em;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}



.txt-cen{
  text-align: center;
}

.watchButt{
  color: $prim;
  font-family: Blockletter;
  width: 10em;
  height: 3em;
}

.shad{
  
  box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 12px 25px -4px rgba(0, 0, 0, 0.5);
}

.App{
  background-color: lightgrey;
}




//##########################
//####  nav-container  #####
//##########################
.nav-container{
  background-color: $prim;
}

.nav-container-container a{
  color:$sec;
  font-family: Blockletter;
}
.nav-container-container a:hover{
  color:$sec;
}

.jumboTron{
  background-color: $prim;
  color: $sec;
}

.jumboTitle{
  color: $sec;
  font-weight: bold;
  font-family: Blockletter;
}

.randoButt{
  color: $sec;
  font-family: Blockletter;
  width: 10em;
  height: 3em;
}

.ppButt{
  fill:$sec;
  transition:400ms;
  stroke-width: 7;
}
.ppButt:hover{
  transition:400ms;
  fill:white;
}

.alphaDrop{
  color: $sec;
  font-family: Blockletter;
}

.dropdown-menu{
  background-color: $prim;
}

.dropdown-item{
  color: $sec;
  font-family: Blockletter;
}

.dropdown-header{
  font-size: 1.3em;
  color: $sec;
  font-family: Blockletter;
}

.mainVidTitleRow{
  font-size: 3em;
  background-color: $prim;
  color: $sec;
  font-family: Blockletter;
}

//####################################
//######### vidControlRow ############
//####################################


.speedDropHead{
  color: $sec;
  font-family: Blockletter;
  font-size: 1.5em;
}
.speedDrop{
  background-color: $prim;
  color: $sec;
  font-family: Blockletter;
}
.controlButt{
  color: $sec;
  font-family: Blockletter;
}